html > body{
    font-family: 'Cormorant Garamond', serif;
}


/* 노멀라이징 */
*{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
/* 라이브러리 */
.img{
    max-width: 100%;
    display: block;
}

.w-full{
    width: 100%;
}

.h-full{
    height: 100%;
}

.w-100-box{
    width: 100%;
    position: relative;
}

.w-25-box{
    width: 25%;
}

.h-530-box{
    padding-bottom: 53%;
}

.h-100-box{
    padding-bottom: 100%;
}

.middle-title-box{
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 30px;
}

.block{
    display: block;
}

.section{
    position: relative;
}

.text-wrap{
    width: 300px;
    background-color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: -10%;
}
.right{
    right:20px;
}
.left{
    left:20px;
}
.text-wrap > .text-box{
    width: 100%;
    border: 1px solid black;
    padding: 20px;
    box-sizing: border-box;
}
.text-wrap > .text-box > .title > p{
    font-size: 30px;
}
.text-wrap > .text-box > .title > .text1{
    vertical-align: top;
    font-size: 1.5rem;
}
.text-wrap > .text-box > .title > .text2{
    font-size: 50px;
    color: #ABC272;
    vertical-align: top;
    transform: translateY(-50px);
}
.text-wrap > .text-box > .info{
    font-style: italic;
    margin-top: 20px;
    line-height: 1.5rem;
    font-size: 15px;
}
.text-wrap > .text-box > .discover-btn > a{
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
    color:#ABC272 ;
    font-size: 15px;
}

.cell{
    float: left;
}
.cell-r{
    float: right;
}
.row::after{
    display: block;
    content: "";
    clear: both;
}
.con{
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
}
.bg-blue{
    background-color: blue;
}
.bg-pink{
    background-color: pink;
}
.bg-green{
    background-color: green;
}

.mt-30px{
    margin-top: 30px;
}

.mt-20px{
    margin-top: 20px;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.m-auto{
    margin-left: auto;
    margin-right: auto;
}

.flex{
    display: flex;
}

.flex-grow{
    flex-grow: 1;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.self-center{
    align-self: center;
}

.img-box{
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


/* 스타일 */
/* 탑버튼 시작 */
.top-btn{
    position: fixed;
    right: 20px;
    bottom: 0;
    font-size: 3rem;
    color: rgb(165, 165, 165);
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.top-btn.active{
    opacity: 1;
    visibility: visible;
}

/* 탑버튼 끝 */


/* 상단 로고 시작 */
.top-bar-wrap > .top-bar-logo > .logo-box{
    width: calc(100% / 3);
}

.top-bar-wrap > .top-bar-logo > .left > ul > li:not(:last-child) > a{
    margin-right: 20px;
    font-size: 14px;
    border: 0px solid black;
    border-right-width: 1px;
    padding-right: 30px;
    box-sizing: border-box;
}

.top-bar-wrap > .top-bar-logo > .logo-box-center{
    width: calc(100% / 3);
    margin: 0 auto;
}

.top-bar-wrap > .top-bar-logo > .right > ul > li > a{
    margin-right: 20px;
}
/* 상단_로고 끝 */
/* 메뉴박스 시작 */
.menu-box-wrap > .menu-box{
    padding:0 10px;
    justify-content: space-around;
    font-size: 20px;
}
.menu-box-wrap > .menu-box > li:hover > a{
    text-decoration: underline;
}
/* 메뉴박스 끝 */
/* 제품리스트 */
.product-wrap > .product-list{
    height: 400px;
    padding: 40px;
    box-sizing: border-box;
    position: relative;
} 

.product-wrap > .product-list >.product-info{
    margin-top: 10px;
    text-align: center;
}

.product-wrap > .product-list >.product-info:hover{
    text-decoration: underline;
}

.product-wrap > .product-list >.product-cart > a{
    display: inline-block;
    padding: 10px 25px;
    font-size: 13px;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.product-wrap > .product-list >.product-cart > a:hover{
    background-color:#efefef;
}